<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Help Desk</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                ˗ˏˋ ♡ ˎˊ˗ Help Desk
            </a>
        </a>
        <div class="navbar-nav">
            <a class="nav-link" th:href="@{/}">Главная</a>
            <a class="nav-link" th:href="@{/tickets}">Заявочки</a>
            <a class="nav-link" th:href="@{/about}">О нас</a>
            <a class="nav-link" th:href="@{/contacts}">Контакты</a>
            <a class="nav-link" th:href="@{/faq}">FAQ</a>
            <a class="nav-link" th:href="@{/admin/tickets}">Админ-панель</a>
        </div>
    </div>
</nav>

<div class="container mt-5 text-center">
    <h1 th:text="${welcomeMessage}">Добро пожаловать!</h1>
    <p class="lead">Создайте заявочку, и мы поможем вам</p>
</div>
<div class="d-flex gap-3 justify-content-center mt-4">
    <a th:href="@{/tickets/new}" class="btn btn-custom btn-lg">Создать заявочку</a>
    <a th:href="@{/contacts}" class="btn btn-custom btn-lg">Связаться с поддержкой</a>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Регистрация обращений</h5>
                    <p class="card-text">Создавайте заявочки в несколько кликов</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title"> Приоритизация задач</h5>
                    <p class="card-text">Важные заявки обрабатываются в первую очередь</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">База знаний</h5>
                    <p class="card-text">Ответы на частые вопросы</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>